.window {
    width: 100%;
    min-height: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}


.list {
    width: 50%;
    min-height: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 40px;
    background-color: rgb(46, 46, 46);;
    border-radius: 20px;
    gap: 40px;
}

.list article {
    background-color: cornflowerblue;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}